p
{
	text-align: center;
	font-size: 40px;
	font-style: Bradley Hand, cursive; 
	background-color: lightblue;
	font-color: black;
	padding: 20px;
	text-align: center;
}

.links
{
font-size: 20px;
display: inline;
border: solid 3px lightblue;
border-radius: 50px;
padding: 10px 80px;
margin-left: 200px;
}

.links:hover {
background-color: lightblue;
color: black;
}




