
<div class="homestyle">
	<h1> About Egiants </h1>
<p> E-Giants Technologies(E-Verified) is a rapidly growing Information Technology Services and Solutions company providing innovative and cost effective solutions for our customers. We specialize in providing IT professionals for contract, contract-to-hire, and direct placements. At E-Giants we are constantly looking for hiring the best talented IT professionals who are responsible for filling the client needs.Give us the opportunity to serve you better and we will prove that we are unique.</p>

<p>
	To achieve our vision, we are always looking out for talented, individuals who are ambitious, who love challenges and who have a passion to excel! 

At E-Giants, employees have the opportunity to work with other results-oriented, highly skilled, and experienced professionals. The E-Giants work environment is challenging and rewarding. As an employee, you can further develop your skills, increase your knowledge base, and be associated with a winning company
</p>

</div>
